* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  font-family: sans-serif;
  margin-top: 5px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo-contenedor{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20px;
    height: 50px;
    margin-right: 20px;
}

.converter-principal {
  width: 600px;
  min-height: 500px;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}

.converter{
  width: 600px;
  min-height: 100px;
  background-color:blueviolet;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}

.converter-title{
  color: white;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  margin: 20px 0;
}

.title{
  color:blueviolet;
}

.conversion-list-contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.second-title{
  color: blueviolet;
  margin-top: 20px;
}

